*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
   position: relative;
}
main{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 800px;
    height: 600px;
    border: 2px solid white;
  
    position: relative;
}

.ball{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    background-color: yellow;
}

